<div class="container">
    <p>This is the partial view for one specific caterer.</p>

    <label>Name:</label>

    <p>{{ caterer.name }}</p>

    <label>Address:</label>

    <p>{{ caterer.address }}</p>

    <label>Phone:</label>

    <p>{{ caterer.phone }}</p>

    <label>Food Items:</label>
    <table>
        <thead>
            <th>Name</th>
            <th>Type</th>
            <th>Price</th>
            <th>Image</th>
            <th>Order Here !</th>
        </thead>
        <tr ng-repeat="food_item in caterer.food_item">
            <td>{{ food_item.name }}</td>
            <td>{{ food_item.type }}</td>
            <td>${{ food_item.price }}</td>
            <td><img class="food-list-images" src="img/{{ food_item.image }}"></td>
            <td>
                <button
                    ng-click="incrementQuantity()">
                        Add
                </button>

                Quantity: {{quantity}}
            </td>
        </tr>
    </table>
</div>