<p>This is the partial view for one specific caterer.</p>

<label>Name:</label>
<p>{{ caterer.name }}</p>

<label>Address:</label>
<p>{{ caterer.address }}</p>

<label>Phone:</label>
<p>Phone:{{ caterer.phone }}</p>

<label>Food Items:</label>
<table>
    <thead>
        <th>Name</th>
        <th>Type</th>
        <th>Price</th>
        <th>Image</th>
    </thead>
    <tr ng-repeat="food_item in caterer.food_item">
        <td>{{ food_item.name }}</td>
        <td>{{ food_item.type }}</td>
        <td>${{ food_item.price }}</td>
        <td>{{ food_item.image }}</td>
    </tr>
</table>

<img src="../img/Burrito.JPG">